/*header starts*/
body {
  margin: 0;
  padding: 0;
  font-family: "playfair display", serif;
  color: #626262;
}
header {
  padding: 40px 0;
}
.container {
  width: 85%;
  margin: 0 auto;

  overflow: hidden;
}
.minimo {
  width: 11%;

  float: left;
  margin-top: 10px;
}
.minimo img {
  width: 100%;
}
.menu {
  width: 65%;

  float: right;
}
.menu ul {
  float: right;
}
.menu ul li {
  list-style: none;
  float: left;
}
.menu ul li a {
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 0 55px;
  border-bottom: 1px solid transparent;
  transition: 0.4s ease;
}
.menu ul li:last-child a {
  margin-right: 0;
}
.menu ul li a:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
}
/*header ends*/
/*banner starts*/
.banner {
}
.b_img {
}
.b_img img {
  width: 100%;
}
/*banner ends*/
/*gateway starts*/
.gateway {
  padding: 70px 0;
}
.container2 {
  width: 75%;
  margin: 0 auto;
}
.g_content {
}
.light {
  margin: 0;
  font-family: "ubuntu", serif;
  font-size: 14px;
  font-weight: 300;
  color: #b4ad9e;
  text-transform: uppercase;
}
.c_title {
  font-size: 30px;
  font-weight: 500;
  margin: 25px 0 30px;
}
.c_para {
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 45px;
}

/*gateway ends*/
/*blog start*/
.blog {
  padding: 70px 0;
}
.b_content {
  overflow: hidden;
}
.single {
  width: 47%;
  float: left;
  margin-bottom: 50px;
}
.single:nth-child(even) {
  margin-left: 6%;
}
.single img {
  width: 100%;
  margin-bottom: 25px;
}
.mb_remove {
  margin-bottom: 0;
}

/*blog ends*/

/*news start*/
.news {
  background-color: #f0f0f0;
  padding: 80px 0;
}
.signup {
  text-align: center;
}
.signup h1 {
  color: #333333;
  margin-top: 0;
  margin-bottom: 70px;
}
.s_form {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.s_form input {
  font-family: "playfair display", serif;
  font-size: 14px;
  color: #626262;
  width: 340px;
  height: 45px;
  border: none;
  border-bottom: 1px solid #626262;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 45px;
}
.s_form input:focus {
  outline: 0;
}
.s_form button {
  position: absolute;
  top: 14px;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.s_form button:focus {
  outline: 0;
}

.s_form img {
}
/*news ends */
/*load more*/
.loadmore {
  padding-bottom: 100px;
  text-align: center;
}
.loadmore button {
  font-family: "playfair display", serif;
  font-size: 18px;
  text-transform: capitalize;
  color: #626262;
  width: 150px;
  height: 60px;
  background-color: white;
  border: 1px solid #626262;
  cursor: pointer;
  transition: 0.4s ease;
}
.loadmore button:hover {
  background-color: #626262;
  color: white;
}
/*load more ends*/
/*footer starts*/
.footer {
  background-color: #f0f0f0;
  padding: 30px 0;
  overflow: hidden;
}
.terms {
  float: left;
  display: inline-block;
}
.terms ul {
  overflow: hidden;
}
.terms ul li {
  list-style: none;
  float: left;
}
.terms ul li a {
  font-family: "playfair display", serif;
  color: #626262;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 10px;
}
.terms ul li:first-child a {
  padding-right: 25px;
}

.socialmedia {
  float: right;
  display: inline-block;
}
.socialmedia ul {
  overflow: hidden;
}
.socialmedia ul li {
  float: left;
  list-style: none;
  margin-right: 25px;
}
.socialmedia ul li a {
  font-family: "playfair display", serif;
  color: #626262;
  text-decoration: none;
  display: inline-block;
}
/*footer ends*/
